Repository 0xsend/sendapp: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, deps

lefthook.yml:

pre-commit:
  commands:
    check:
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    typecheck:
      glob: "*.{ts,tsx}"
      run: ./scripts/pre-commit-typecheck.sh
    deps:
      glob: "**/package.json"
      run: yarn check-deps
pre-push:
  commands:
    check:
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {pushed_files}

fix k yc
  packages/app/features/deposit/bank-transfer/BankDetailsCard.tsx
  packages/app/features/deposit/bank-transfer/KycStatusCard.tsx
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/app/utils/useFeatureFlag.ts
  packages/bridge/package.json
  packages/bridge/src/client.ts
Due: typecheck, deps

more test coverage
  apps/next/pages/api/bridge/__tests__/webhook.test.ts
  apps/next/pages/api/bridge/webhook.ts
  packages/app/features/bank-transfer/useBridgeCustomer.ts
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/snaplet/.snaplet/snaplet.d.ts
  yarn.lock
Due: typecheck

Activity feed optimization
  packages/app/features/activity/RecentActivity.tsx
  packages/app/features/activity/RecentActivityFeed.tsx
  packages/app/features/activity/rows/ActivityRowFactory.tsx
  packages/app/features/activity/utils/activityRowTypes.ts
  packages/app/features/activity/utils/activityTransform.ts
  packages/app/features/activity/utils/idleProcessor.ts
  packages/app/features/activity/utils/useActivityFeed.ts
  packages/app/features/activity/utils/useProcessedActivityFeed.native.ts
  packages/app/features/activity/utils/useProcessedActivityFeed.ts
  packages/app/i18n/resources/activity/de.json
  packages/app/i18n/resources/activity/en.json
  packages/app/i18n/resources/activity/es.json
  packages/app/i18n/resources/activity/fr.json
  packages/app/i18n/resources/activity/zh.json
  packages/app/provider/scroll/ScrollDirectionProvider.native.tsx
Due: typecheck

Better avatars
  packages/app/features/activity/rows/ActivityRowFactory.tsx
  packages/app/features/activity/utils/activityRowTypes.ts
  packages/app/features/activity/utils/activityTransform.ts
Due: typecheck

Better trades badges
  packages/app/features/activity/rows/ActivityRowFactory.tsx
Due: typecheck

Added on press to non transfers
  packages/app/features/activity/RecentActivityFeed.tsx
  packages/app/features/activity/rows/ActivityRowFactory.tsx
Due: typecheck

post rebase fix
  packages/app/features/activity/RecentActivityFeed.tsx
Due: typecheck

added back hover on web
  packages/app/features/activity/rows/ActivityRowFactory.tsx
Due: typecheck

Position avatars better
  packages/app/features/activity/rows/ActivityRowFactory.tsx
Due: typecheck

Docs
  docs/activity-feed-optimization.md
Due: none

Activity feed optimization (#2469)
  docs/activity-feed-optimization.md
  packages/app/features/activity/RecentActivity.tsx
  packages/app/features/activity/RecentActivityFeed.tsx
  packages/app/features/activity/rows/ActivityRowFactory.tsx
  packages/app/features/activity/utils/activityRowTypes.ts
  packages/app/features/activity/utils/activityTransform.ts
  packages/app/features/activity/utils/idleProcessor.ts
  packages/app/features/activity/utils/useActivityFeed.ts
  packages/app/features/activity/utils/useProcessedActivityFeed.native.ts
  packages/app/features/activity/utils/useProcessedActivityFeed.ts
  packages/app/i18n/resources/activity/de.json
  packages/app/i18n/resources/activity/en.json
  packages/app/i18n/resources/activity/es.json
  packages/app/i18n/resources/activity/fr.json
  packages/app/i18n/resources/activity/zh.json
  packages/app/provider/scroll/ScrollDirectionProvider.native.tsx
Due: typecheck

feat(charts): make them edge-to-endge
  packages/app/features/home/TokenChartSection.tsx
  packages/app/features/home/TokenChartSection.web.tsx
  packages/app/features/home/charts/shared/components/ChartCardSection.tsx
  packages/ui/src/components/AnimatedCharts/charts/linear/ChartPath.tsx
Due: typecheck

feat(charts): make them edge-to-endge (#2478)
  packages/app/features/home/TokenChartSection.tsx
  packages/app/features/home/TokenChartSection.web.tsx
  packages/app/features/home/charts/shared/components/ChartCardSection.tsx
  packages/ui/src/components/AnimatedCharts/charts/linear/ChartPath.tsx
Due: typecheck

fix lint
  apps/expo/app/deposit/index.tsx
  apps/next/pages/deposit/index.tsx
  bin/bridge-webhook-events.ts
  docs/bridge-webhook-testing.md
  packages/app/features/bank-transfer/bridgeGeoBlockList.ts
  packages/app/features/bank-transfer/index.ts
  packages/app/features/bank-transfer/useBridgeGeoBlock.ts
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/app/features/deposit/screen.tsx
  packages/app/i18n/resources/deposit/de.json
  packages/app/i18n/resources/deposit/en.json
  packages/app/i18n/resources/deposit/es.json
  packages/app/i18n/resources/deposit/fr.json
  packages/app/i18n/resources/deposit/zh.json
  packages/app/i18n/resources/navigation/de.json
  packages/app/i18n/resources/navigation/en.json
  packages/app/i18n/resources/navigation/es.json
  packages/app/i18n/resources/navigation/fr.json
  packages/app/i18n/resources/navigation/zh.json
Due: typecheck

Activity details header for external activities looks off
  packages/app/features/activity/ActivityDetails.tsx
Due: typecheck

Activity details header for external activities looks off (#2479)
  packages/app/features/activity/ActivityDetails.tsx
Due: typecheck

Address link in activity details opens "Profile not found" on native
  apps/expo/app/profile/[sendid]/index.tsx
  packages/app/features/profile/ExternalAddressScreen.tsx
Due: typecheck

Address link in activity details opens "Profile not found" on native (#2480)
  apps/expo/app/profile/[sendid]/index.tsx
  packages/app/features/profile/ExternalAddressScreen.tsx
Due: typecheck

fix(SendChat): broken animation in send chat flow
  packages/app/features/send/components/SendChat/index.tsx
  packages/ui/src/config/animations.ts
Due: typecheck

fix(SendChat): broken animation in send chat flow (#2481)
  packages/app/features/send/components/SendChat/index.tsx
  packages/ui/src/config/animations.ts
Due: typecheck

[SEND-723] No avatar in activity feed for purchasing a sendtag
  packages/app/features/activity/rows/ActivityRowFactory.tsx
Due: typecheck

[SEND-723] No avatar in activity feed for purchasing a sendtag (#2483)
  packages/app/features/activity/rows/ActivityRowFactory.tsx
Due: typecheck

[SEND-527] Sendpot ticket purchase incorrectly links ticket count to external address
  packages/app/features/activity/ActivityDetails.tsx
Due: typecheck

[SEND-527] Sendpot ticket purchase incorrectly links ticket count to external address (#2484)
  packages/app/features/activity/ActivityDetails.tsx
Due: typecheck

[SEND-524] Double back button press required on web when navigating from activity
  packages/app/features/profile/ExternalAddressScreen.tsx
Due: typecheck

[SEND-524] Double back button press required on web when navigating from activity (#2485)
  packages/app/features/profile/ExternalAddressScreen.tsx
Due: typecheck

fix(docker): add missing sendctl package.json to Dockerfile
  Dockerfile
Due: none

ci: add docker build validation for distributor, shovel, workers
  .github/workflows/ci.yml
Due: none

add custom webhook key for local testing
  .gitignore
  bin/bridge-webhook-events.ts
  docs/bridge-webhook-testing.md
Due: typecheck

[SEND-714] Activity feed covers search bar after typing on iPhone
  packages/app/components/SearchBar.tsx
  packages/app/features/activity/screen.tsx
Due: typecheck

[SEND-714] Activity feed covers search bar after typing on iPhone (#2486)
  packages/app/components/SearchBar.tsx
  packages/app/features/activity/screen.tsx
Due: typecheck

add proper rejection reasons
  apps/next/pages/api/bridge/webhook.ts
  bin/bridge-webhook-events.ts
  docs/bridge-webhook-testing.md
  packages/app/features/bank-transfer/useBridgeCustomer.ts
  packages/app/features/deposit/bank-transfer/KycStatusCard.tsx
  packages/app/features/deposit/bank-transfer/screen.tsx
  supabase/database-generated.types.ts
  supabase/migrations/20260108171209_create_bridge_customers_safe_view.sql
  supabase/migrations/20260108173513_create_bridge_customers_safe_view_with_permissons.sql
  supabase/schemas/bridge_customers.sql
  supabase/schemas/views/bridge_customers_safe.sql
Due: typecheck

fix(playwright): run sendctl from monorepo root
  packages/playwright/globalSetup.ts
Due: typecheck

fix(ci): enable docker compose for Playwright tests
  .github/workflows/ci.yml
Due: none

fix(tilt): add temporal to playwright:deps dependencies
  tilt/tests.Tiltfile
Due: none

install react-native-keyboard-controller
  apps/expo/app.config.ts
  apps/expo/package.json
  yarn.lock
Due: typecheck, deps

feat(send): use better keyboard handling for send chat
  packages/app/features/send/components/SendChat/index.tsx
  packages/app/features/send/components/shared/SendModalContainer.tsx
  packages/app/provider/index.tsx
Due: typecheck

Feat/better keyboard handling native Send Chat (#2488)
  apps/expo/app.config.ts
  apps/expo/package.json
  packages/app/features/send/components/SendChat/index.tsx
  packages/app/features/send/components/shared/SendModalContainer.tsx
  packages/app/provider/index.tsx
  yarn.lock
Due: typecheck, deps

add tos
  apps/next/pages/api/bridge/kyc-link.ts
  bin/bridge-webhook-events.ts
  docs/bridge-webhook-testing.md
  packages/app/features/bank-transfer/useBridgeCustomer.ts
  packages/app/features/deposit/bank-transfer/KycStatusCard.tsx
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/app/utils/useRedirectUri.native.tsx
  packages/app/utils/useRedirectUri.tsx
Due: typecheck
