Repository 0xsend/sendapp: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, deps

lefthook.yml:

pre-commit:
  commands:
    check:
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    typecheck:
      glob: "*.{ts,tsx}"
      run: ./scripts/pre-commit-typecheck.sh
    deps:
      glob: "**/package.json"
      run: yarn check-deps
pre-push:
  commands:
    check:
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {pushed_files}

Fix signature verification against payload digest not just payload (#2521)
  apps/next/pages/api/bridge/webhook.ts
  bin/bridge-webhook-events.ts
  packages/bridge/src/__tests__/webhooks.test.ts
  packages/bridge/src/webhooks.ts
Due: typecheck

[SEND-334] Scrolling in Send Chat causes dialog to close unexpectedly on android
  packages/app/features/send/components/shared/SendModalContainer.tsx
Due: typecheck

[SEND-334] Scrolling in Send Chat causes dialog to close unexpectedly on android (#2523)
  packages/app/features/send/components/shared/SendModalContainer.tsx
Due: typecheck

[SEND-389] Notes being encoded on native apps
  packages/app/routers/params.tsx
Due: typecheck

[SEND-389] Notes being encoded on native apps (#2524)
  packages/app/routers/params.tsx
Due: typecheck

[SEND- 740] Fix broken shadows on send screen on ios on dark theme
  packages/app/features/send/suggestions/SendSuggestions.tsx
Due: typecheck

[SEND- 740] Fix broken shadows on send screen on ios on dark theme (#2525)
  packages/app/features/send/suggestions/SendSuggestions.tsx
Due: typecheck

Native: disable OTA sheet for app review
  apps/expo/app.config.ts
  apps/expo/package.json
  packages/app/components/OTAUpdateSheet.native.tsx
Due: typecheck, deps

better detecting
  packages/app/components/OTAUpdateSheet.native.tsx
Due: typecheck

Native: disable OTA sheet for app review (#2526)
  apps/expo/app.config.ts
  apps/expo/package.json
  packages/app/components/OTAUpdateSheet.native.tsx
Due: typecheck, deps

docs: redesign Send Earn automation as revenue collection
  docs/send-earn-rewards-automation-design.md
Due: none

feat(workflows): add Send Earn rewards claim automation
  .env.local.template
  docs/send-earn-rewards-automation-design.md
  docs/send-earn-rewards-research.md
  packages/wagmi/src/generated.ts
  packages/wagmi/wagmi.config.ts
  packages/workflows/src/all-activities.ts
  packages/workflows/src/all-workflows.ts
  packages/workflows/src/index.ts
  packages/workflows/src/rewards-claim-workflow/activities.test.ts
  packages/workflows/src/rewards-claim-workflow/activities.ts
  packages/workflows/src/rewards-claim-workflow/config.test.ts
  packages/workflows/src/rewards-claim-workflow/config.ts
  packages/workflows/src/rewards-claim-workflow/index.ts
  packages/workflows/src/rewards-claim-workflow/supabase.ts
  packages/workflows/src/rewards-claim-workflow/types.ts
  packages/workflows/src/rewards-claim-workflow/workflow.ts
  supabase/schemas/send_earn.sql
Due: typecheck

refactor(workflows): rename rewards-claim to revenue-collection with sweep
  .env.local.template
  apps/next/pages/api/cron/send-earn-revenue.ts
  packages/workflows/package.json
  packages/workflows/src/all-activities.ts
  packages/workflows/src/all-workflows.ts
  packages/workflows/src/index.ts
  packages/workflows/src/revenue-collection-workflow/activities.test.ts
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/src/revenue-collection-workflow/config.test.ts
  packages/workflows/src/revenue-collection-workflow/config.ts
  packages/workflows/src/revenue-collection-workflow/index.ts
  packages/workflows/src/revenue-collection-workflow/schedule.ts
  packages/workflows/src/revenue-collection-workflow/supabase.ts
  packages/workflows/src/revenue-collection-workflow/types.ts
  packages/workflows/src/revenue-collection-workflow/workflow.ts
  packages/workflows/src/rewards-claim-workflow/activities.ts
  packages/workflows/src/rewards-claim-workflow/config.test.ts
  packages/workflows/src/rewards-claim-workflow/config.ts
  packages/workflows/src/rewards-claim-workflow/index.ts
  packages/workflows/src/rewards-claim-workflow/supabase.ts
  packages/workflows/src/rewards-claim-workflow/types.ts
  packages/workflows/src/rewards-claim-workflow/workflow.ts
  supabase/schemas/send_earn.sql
Due: typecheck, deps

test(workflows): add Anvil fork integration tests for revenue collection
  packages/workflows/package.json
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/sweep.anvil.test.ts
  packages/workflows/vitest.anvil.config.ts
  yarn.lock
Due: typecheck, deps

refactor(workflows): migrate from Jest to Vitest
  packages/workflows/jest.config.ts
  packages/workflows/jest.setup-after-env.ts
  packages/workflows/jest.setup.ts
  packages/workflows/package.json
  packages/workflows/src/deposit-workflow/supabase.test.ts
  packages/workflows/src/distribution-workflow/__snapshots__/weights.test.ts.snap
  packages/workflows/src/distribution-workflow/weights.test.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/sweep.anvil.test.ts
  packages/workflows/src/revenue-collection-workflow/activities.test.ts
  packages/workflows/src/revenue-collection-workflow/config.test.ts
  packages/workflows/vitest.anvil.config.ts
  packages/workflows/vitest.config.ts
  packages/workflows/vitest.setup.ts
  yarn.lock
Due: typecheck, deps

test(workflows): add real on-chain tests for collections safety check
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/sweep.anvil.test.ts
Due: typecheck

feat(send-earn): add standalone CLI package for Send Earn revenue collection
  docs/send-earn-cli-spec.md
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/package.json
  packages/send-earn/src/db.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/merkl.ts
  packages/send-earn/src/output/csv.ts
  packages/send-earn/src/output/index.ts
  packages/send-earn/src/output/json.ts
  packages/send-earn/src/output/markdown.ts
  packages/send-earn/src/output/table.ts
  packages/send-earn/src/revenue.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
  packages/send-earn/tsconfig.json
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  yarn.lock
Due: typecheck, deps

refactor(workflows): import types from @my/send-earn and fix test stability
  packages/send-earn/src/vaults.ts
  packages/workflows/package.json
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/vitest.anvil.config.ts
  yarn.lock
Due: typecheck, deps

chore(workflows): remove Jest references after Vitest migration
  packages/workflows/README.md
  packages/workflows/docs/todo-fix-workflows-jest-paths.md
  packages/workflows/tsconfig.json
Due: none

fix(workflows): add timeout to Merkl API requests
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/src/revenue-collection-workflow/config.ts
Due: typecheck

fix(workflows): remove unsafe pkill and document prerequisites
  packages/workflows/README.md
  packages/workflows/vitest.anvil.config.ts
Due: typecheck

refactor(workflows): delegate activities to @my/send-earn library functions
  packages/workflows/src/revenue-collection-workflow/activities.test.ts
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/src/revenue-collection-workflow/config.test.ts
  packages/workflows/src/revenue-collection-workflow/config.ts
  packages/workflows/src/revenue-collection-workflow/supabase.ts
  packages/workflows/src/revenue-collection-workflow/types.ts
Due: typecheck

fix(workflows): fix yarn install and workflow bundle errors
  packages/send-earn/package.json
  packages/webauthn-authenticator/package.json
  packages/workflows/README.md
  packages/workflows/src/revenue-collection-workflow/config.ts
  packages/workflows/src/revenue-collection-workflow/types.ts
  packages/workflows/src/revenue-collection-workflow/workflow.ts
  yarn.lock
Due: typecheck, deps

fix(workflows): remove unused MerklTokenReward import
  packages/workflows/src/revenue-collection-workflow/types.ts
Due: typecheck

feat(send-earn): allow vault filter to bypass database query
  packages/send-earn/src/revenue.ts
Due: typecheck

fix(send-earn): use continuous top border for tvl table title row
  packages/send-earn/bin/send-earn.ts
Due: typecheck

fix: add better-sqlite3 resolution for Node.js 22 compatibility
  package.json
  yarn.lock
Due: none

feat(send-earn): add fee distribution for affiliate contracts
  docs/send-earn-rewards-automation-design.md
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/output/csv.ts
  packages/send-earn/src/output/json.ts
  packages/send-earn/src/output/markdown.ts
  packages/send-earn/src/output/table.ts
  packages/send-earn/src/revenue.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
Due: typecheck

feat(send-earn): add tvl command for total value locked reporting
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/revenue.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
Due: typecheck

docs(send-earn): add TVL calculation to automation spec
  docs/send-earn-rewards-automation-design.md
Due: none

fix(send-earn): update Merkl API parsing for v4 response format
  packages/send-earn/src/index.ts
  packages/send-earn/src/merkl.ts
  packages/send-earn/src/types.ts
Due: typecheck

fix(send-earn): normalize and deduplicate vault filter addresses
  packages/send-earn/bin/send-earn.ts
Due: typecheck

fix(send-earn): tvl table output matches spec with vault type detection
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
Due: typecheck

fix(send-earn): align tvl table title row width to match borders
  packages/send-earn/bin/send-earn.ts
Due: typecheck

fix: add @my/send-earn to Dockerfile installer stage
  Dockerfile
Due: none

feat(supabase): add send_earn revenue collection tables
  supabase/migrations/20260109213624_send_earn_revenue_tables.sql
Due: none

fix(workflows): migrate notification-workflow tests to Vitest
  packages/workflows/src/notification-workflow/activities.test.ts
  packages/workflows/src/notification-workflow/validation.test.ts
Due: typecheck

Coingecko cache proxy
  packages/api/src/routers/coingecko/router.ts
  packages/app/features/profile/screen.tsx
  packages/app/provider/coins/CoinsProvider.tsx
  packages/app/utils/coin-gecko/index.tsx
  packages/app/utils/useTokenPrices.ts
Due: typecheck

Coingecko cache proxy (#2527)
  packages/api/src/routers/coingecko/router.ts
  packages/app/features/profile/screen.tsx
  packages/app/provider/coins/CoinsProvider.tsx
  packages/app/utils/coin-gecko/index.tsx
  packages/app/utils/useTokenPrices.ts
Due: typecheck

[SEND-745] Redirect to profile when pressing avatar in send chat
  packages/app/features/send/components/SendChat/index.tsx
Due: typecheck
