Repository 0xsend/sendapp: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, deps

lefthook.yml:

pre-commit:
  commands:
    check:
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    typecheck:
      glob: "*.{ts,tsx}"
      run: ./scripts/pre-commit-typecheck.sh
    deps:
      glob: "**/package.json"
      run: yarn check-deps
pre-push:
  commands:
    check:
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {pushed_files}

refactor(workflows): rename rewards-claim to revenue-collection with sweep
  .env.local.template
  apps/next/pages/api/cron/send-earn-revenue.ts
  packages/workflows/package.json
  packages/workflows/src/all-activities.ts
  packages/workflows/src/all-workflows.ts
  packages/workflows/src/index.ts
  packages/workflows/src/revenue-collection-workflow/activities.test.ts
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/src/revenue-collection-workflow/config.test.ts
  packages/workflows/src/revenue-collection-workflow/config.ts
  packages/workflows/src/revenue-collection-workflow/index.ts
  packages/workflows/src/revenue-collection-workflow/schedule.ts
  packages/workflows/src/revenue-collection-workflow/supabase.ts
  packages/workflows/src/revenue-collection-workflow/types.ts
  packages/workflows/src/revenue-collection-workflow/workflow.ts
  packages/workflows/src/rewards-claim-workflow/activities.ts
  packages/workflows/src/rewards-claim-workflow/config.test.ts
  packages/workflows/src/rewards-claim-workflow/config.ts
  packages/workflows/src/rewards-claim-workflow/index.ts
  packages/workflows/src/rewards-claim-workflow/supabase.ts
  packages/workflows/src/rewards-claim-workflow/types.ts
  packages/workflows/src/rewards-claim-workflow/workflow.ts
  supabase/schemas/send_earn.sql
Due: typecheck, deps

feat(workflows): add Send Earn rewards claim automation
  .env.local.template
  docs/send-earn-rewards-automation-design.md
  docs/send-earn-rewards-research.md
  packages/wagmi/src/generated.ts
  packages/wagmi/wagmi.config.ts
  packages/workflows/src/all-activities.ts
  packages/workflows/src/all-workflows.ts
  packages/workflows/src/index.ts
  packages/workflows/src/rewards-claim-workflow/activities.test.ts
  packages/workflows/src/rewards-claim-workflow/activities.ts
  packages/workflows/src/rewards-claim-workflow/config.test.ts
  packages/workflows/src/rewards-claim-workflow/config.ts
  packages/workflows/src/rewards-claim-workflow/index.ts
  packages/workflows/src/rewards-claim-workflow/supabase.ts
  packages/workflows/src/rewards-claim-workflow/types.ts
  packages/workflows/src/rewards-claim-workflow/workflow.ts
  supabase/schemas/send_earn.sql
Due: typecheck

docs: redesign Send Earn automation as revenue collection
  docs/send-earn-rewards-automation-design.md
Due: none

refactor(workflows): migrate from Jest to Vitest
  packages/workflows/jest.config.ts
  packages/workflows/jest.setup-after-env.ts
  packages/workflows/jest.setup.ts
  packages/workflows/package.json
  packages/workflows/src/deposit-workflow/supabase.test.ts
  packages/workflows/src/distribution-workflow/__snapshots__/weights.test.ts.snap
  packages/workflows/src/distribution-workflow/weights.test.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/sweep.anvil.test.ts
  packages/workflows/src/revenue-collection-workflow/activities.test.ts
  packages/workflows/src/revenue-collection-workflow/config.test.ts
  packages/workflows/vitest.anvil.config.ts
  packages/workflows/vitest.config.ts
  packages/workflows/vitest.setup.ts
  yarn.lock
Due: typecheck, deps

refactor(workflows): delegate activities to @my/send-earn library functions
  packages/workflows/src/revenue-collection-workflow/activities.test.ts
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/src/revenue-collection-workflow/config.test.ts
  packages/workflows/src/revenue-collection-workflow/config.ts
  packages/workflows/src/revenue-collection-workflow/supabase.ts
  packages/workflows/src/revenue-collection-workflow/types.ts
Due: typecheck

test(workflows): add Anvil fork integration tests for revenue collection
  packages/workflows/package.json
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/sweep.anvil.test.ts
  packages/workflows/vitest.anvil.config.ts
  yarn.lock
Due: typecheck, deps

fix(workflows): add timeout to Merkl API requests
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/src/revenue-collection-workflow/config.ts
Due: typecheck

refactor(workflows): import types from @my/send-earn and fix test stability
  packages/send-earn/src/vaults.ts
  packages/workflows/package.json
  packages/workflows/src/revenue-collection-workflow/activities.ts
  packages/workflows/vitest.anvil.config.ts
  yarn.lock
Due: typecheck, deps

feat(send-earn): add standalone CLI package for Send Earn revenue collection
  docs/send-earn-cli-spec.md
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/package.json
  packages/send-earn/src/db.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/merkl.ts
  packages/send-earn/src/output/csv.ts
  packages/send-earn/src/output/index.ts
  packages/send-earn/src/output/json.ts
  packages/send-earn/src/output/markdown.ts
  packages/send-earn/src/output/table.ts
  packages/send-earn/src/revenue.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
  packages/send-earn/tsconfig.json
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  yarn.lock
Due: typecheck, deps

test(workflows): add real on-chain tests for collections safety check
  packages/workflows/src/revenue-collection-workflow/__tests__/setup.ts
  packages/workflows/src/revenue-collection-workflow/__tests__/sweep.anvil.test.ts
Due: typecheck

chore(workflows): remove Jest references after Vitest migration
  packages/workflows/README.md
  packages/workflows/docs/todo-fix-workflows-jest-paths.md
  packages/workflows/tsconfig.json
Due: none

fix(workflows): remove unsafe pkill and document prerequisites
  packages/workflows/README.md
  packages/workflows/vitest.anvil.config.ts
Due: typecheck

fix(send-earn): update Merkl API parsing for v4 response format
  packages/send-earn/src/index.ts
  packages/send-earn/src/merkl.ts
  packages/send-earn/src/types.ts
Due: typecheck

fix(send-earn): normalize and deduplicate vault filter addresses
  packages/send-earn/bin/send-earn.ts
Due: typecheck

feat(send-earn): allow vault filter to bypass database query
  packages/send-earn/src/revenue.ts
Due: typecheck

feat(send-earn): add tvl command for total value locked reporting
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/revenue.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
Due: typecheck

fix: add better-sqlite3 resolution for Node.js 22 compatibility
  package.json
  yarn.lock
Due: none

docs(send-earn): add TVL calculation to automation spec
  docs/send-earn-rewards-automation-design.md
Due: none

fix(send-earn): tvl table output matches spec with vault type detection
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
Due: typecheck

feat(send-earn): add fee distribution for affiliate contracts
  docs/send-earn-rewards-automation-design.md
  packages/send-earn/bin/send-earn.ts
  packages/send-earn/src/index.ts
  packages/send-earn/src/output/csv.ts
  packages/send-earn/src/output/json.ts
  packages/send-earn/src/output/markdown.ts
  packages/send-earn/src/output/table.ts
  packages/send-earn/src/revenue.ts
  packages/send-earn/src/types.ts
  packages/send-earn/src/vaults.ts
Due: typecheck

fix(workflows): fix yarn install and workflow bundle errors
  packages/send-earn/package.json
  packages/webauthn-authenticator/package.json
  packages/workflows/README.md
  packages/workflows/src/revenue-collection-workflow/config.ts
  packages/workflows/src/revenue-collection-workflow/types.ts
  packages/workflows/src/revenue-collection-workflow/workflow.ts
  yarn.lock
Due: typecheck, deps

improve speed of factory
  packages/app/features/activity/RecentActivityFeed.tsx
  packages/app/features/activity/rows/ActivityRowFactory.tsx
  packages/app/features/earn/earnings/screen.tsx
  packages/app/features/earn/rewards/screen.tsx
Due: typecheck

fix(send-earn): align tvl table title row width to match borders
  packages/send-earn/bin/send-earn.ts
Due: typecheck

fix(send-earn): use continuous top border for tvl table title row
  packages/send-earn/bin/send-earn.ts
Due: typecheck

fix(workflows): remove unused MerklTokenReward import
  packages/workflows/src/revenue-collection-workflow/types.ts
Due: typecheck

feat(supabase): add send_earn revenue collection tables
  supabase/migrations/20260109213624_send_earn_revenue_tables.sql
Due: none

fix: add @my/send-earn to Dockerfile installer stage
  Dockerfile
Due: none

Update naming
  packages/app/features/bank-transfer/index.ts
  packages/app/features/bank-transfer/useBridgeCustomer.ts
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/snaplet/.snaplet/dataModel.json
  packages/snaplet/.snaplet/snaplet-client.d.ts
  packages/snaplet/.snaplet/snaplet.d.ts
  supabase/database-generated.types.ts
Due: typecheck

restore database types
  supabase/database-generated.types.ts
Due: typecheck

update tests
  packages/app/features/bank-transfer/useBridgeCustomer.ts
Due: typecheck

[SEND-730] Clean up and unify activity related code (#2496)
  packages/app/features/activity/ActivityAvatar.tsx
  packages/app/features/activity/ActivityAvatarV2.tsx
  packages/app/features/activity/ActivityDetails.tsx
  packages/app/features/activity/avatars/ActivityAvatarFactory.tsx
  packages/app/features/activity/rows/ActivityRowFactory.tsx
  packages/app/features/activity/utils/activityRowTypes.ts
  packages/app/features/activity/utils/activityTransform.ts
  packages/app/features/activity/utils/useActivityRow.ts
  packages/app/features/earn/earnings/screen.tsx
  packages/app/features/earn/rewards/screen.tsx
  packages/app/features/home/TokenActivity.tsx
  packages/app/features/home/TokenActivityFeed.native.tsx
  packages/app/features/home/TokenActivityFeed.tsx
  packages/app/features/home/TokenActivityRow.tsx
  packages/app/features/home/TokenActivityRowV2.tsx
  packages/app/features/send/components/SendChat/Transaction.tsx
Due: typecheck

Update Virtual Accounts Polling 2 (#2500)
  packages/app/features/bank-transfer/index.ts
  packages/app/features/bank-transfer/useBridgeCustomer.ts
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/snaplet/.snaplet/dataModel.json
  packages/snaplet/.snaplet/snaplet-client.d.ts
  packages/snaplet/.snaplet/snaplet.d.ts
Due: typecheck

use query params from bridge as a signal
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/app/routers/params.tsx
Due: typecheck

use query params from bridge as a signal (#2502)
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/app/routers/params.tsx
Due: typecheck

fix security invoker bug
  supabase/migrations/20260110004536_fix_bridge_customers_safe_security_invoker.sql
Due: none

fix security invoker bug (#2504)
  supabase/migrations/20260110004536_fix_bridge_customers_safe_security_invoker.sql
Due: none

add static memos
  apps/next/pages/api/bridge/__tests__/webhook.test.ts
  apps/next/pages/api/bridge/webhook.ts
  packages/api/src/routers/bridge/router.ts
  packages/api/src/routers/bridge/types.ts
  packages/app/analytics/types.ts
  packages/app/features/bank-transfer/index.ts
  packages/app/features/bank-transfer/useBridgeStaticMemo.ts
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/bridge/src/client.ts
  packages/bridge/src/index.ts
  packages/bridge/src/types.ts
  packages/bridge/src/webhooks.ts
  supabase/config.toml
  supabase/database-generated.types.ts
  supabase/migrations/20260110120000_bridge_static_memos.sql
  supabase/schemas/bridge_deposits.sql
  supabase/schemas/bridge_static_memos.sql
Due: typecheck

clenaup
  packages/app/features/bank-transfer/index.ts
  packages/app/features/bank-transfer/useBridgeCustomer.ts
  packages/app/features/deposit/bank-transfer/screen.tsx
  packages/app/features/deposit/screen.tsx
  packages/app/routers/params.tsx
Due: typecheck

minor ux
  packages/app/features/deposit/bank-transfer/KycStatusCard.tsx
  packages/app/features/deposit/bank-transfer/screen.tsx
Due: typecheck

Add incomplete
  packages/app/features/deposit/bank-transfer/KycStatusCard.tsx
  packages/app/features/deposit/bank-transfer/screen.tsx
Due: typecheck
